name: Check

on:
    push:
        branches: [ main ]
    pull_request:
        types: [ opened, reopened, synchronize ]

jobs:
    check:
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest, windows-latest, macos-latest ]
                python: [ "3.10", "3.11", "3.12", "3.13" ]
        uses: ./.github/workflows/setup.yml
        with:
            os: ${{ matrix.os }}
            python: ${{ matrix.python }}
            command: task check
